; ########### DEFAULT CONFIGURATION
; LOGGING FILES PATHS
[LOGGING]
LOG_FILE_RUN=./logs/run.log
LOG_FILE_ERROR=./logs/error.log

; SESSION DIR
[SESSION]
SESSION_DIR=./sessions

; HISTORY FILES PATHS
[HISTORY]
HISTORY_DOWNLOADED_FILE=./history_downloaded.txt

; STORAGE DIR PATHS
[STORAGE]
STORAGE_DIR=../storage

; DIST
[DIST]
DIST_DIR=./dist

; WHITELIST FILE TYPES
[WHITELIST]
WHITELIST_FILE_TYPES=['.zip','.rar','.tar','.gz','.7z','.xlsx','.cvs','.txt']

; RULES FILE PATHS
[RULES]
LINK_RULES=../rules/links.yaml
DATA_RULES=../rules/rules.yaml


; ########## CUSTOM CONFIGURATION

; TELEGRAM APIs
[TELE_API_1]
APP_ID=YOUR_APP_ID_HERE
HASH_ID=YOUR_HASH_ID_HERE
PHONE=YOUR_PHONE_NUMBER_HERE
USERNAME=YOUR_USERNAME_HERE

[TELE_API_2]

APP_ID=YOUR_APP_ID_HERE
HASH_ID=YOUR_HASH_ID_HERE
PHONE=YOUR_PHONE_NUMBER_HERE
USERNAME=YOUR_USERNAME_HERE

; [ELASTIC_API]

; ELASTIC_URL=https://your-elastic-url:9200
; ELASTIC_API_KEY=YOUR_ELASTIC_API_KEY_HERE
; ELASTIC_API_CACERT=/path/to/your/ca.crt

; [MONGO_API]
; MONGO_URL=mongodb://localhost:27017


